{# src/Mayhem/WelcomeBundle/Resources/views/Main/calendrier.html.twig #}

{% extends "::layout.html.twig" %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('bundles/mayhemmain/css/calendrier.css') }}" type="text/css" />
{% endblock %}

{% block banner %}
{% endblock %}

{% block main %}
	<section id="main" class="border1">
		<div class="calendrier border2"><ul><li><a href="">10/01/2014</a></li><li><a href="">10/02/2014</a></li></ul></div>
		<div class="evenement border2"><h1>Projet en 3D</h1><hr/><p>Création d'un projet en 3D à l'aide du logiciel SolidWork.</p></div>
		<div class="evenement border2"><h1>Brainsporming</h1><hr/><p>Réunion du groupe pour mettre sur papier les information principale du projet.</p></div>
	</section>
{% endblock %}

{% block js %}
{% endblock %}