#menu > ul > li > .menu-reaper{
	border: solid 2px #942A25;
	background: #F6F6F6;
	color: #000000;
}

/* Bloc Main */
#main .widget {
	border: 1px solid rgba(0, 0, 0, 0);
	margin: 10px;
	padding: 5px;
	text-align: left;
}
#main .widget:hover {
	border:1px solid #942A25;
	-webkit-box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.15);
	box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.15);
	cursor:pointer;
}
#main article {
	display:inline-block;
	text-align:center;
}
/*************/