#menu > ul > li > .menu-calendrier{
	border: solid 2px #942A25;
	background: #F6F6F6;
	color: #000000;
}

#main > .calendrier{
	float: right;
	text-align: center;
	width: 13%;
	margin: 2% 2% 2% 0;
	padding: 1%;
}

#main{
	text-align: left;
}

#main > .evenement{
	border: 1px solid rgba(0, 0, 0, 0);
	width: 75%;
	margin: 2%;
	padding: 2%;
}

#main > .evenement:hover{
	border: 1px solid #942A25;
	-webkit-box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.15);
	box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.15);
	cursor:pointer;
}
