/* Bloc header */
header{
	margin-top: 10px;
}
/***************/
#menu > ul > li > .menu-qui{
	border: solid 2px #942A25;
	background: #F6F6F6;
	color: #000000;
}

/* Bloc Main */
#main{
	width: 90%;
	max-width: 1024px;
	min-width: 530px;
	margin-bottom: 100px;
	text-align: center;
}

#main > #photo-bar{
	vertical-align:middle;
	display:inline-block;
	margin: 10px;
	width: 15%;
}
#main > #photo-bar .widget{
	border-radius: 50%;
	margin: 10px;
	border:10px solid #C9C9C9;
}
#main > #photo-bar .widget:hover {
	border:solid 10px #942A25; 
	cursor:pointer;
}
#main > #photo-bar .widget img{
	border-radius: 50%;
	width: 100%;
}

#main #bio-contener{
	vertical-align:middle;
	display:inline-block;
	text-align: left;
	width: 70%;
	padding: 50px 10px 50px 10px;
	overflow:hidden;
}
#main #bio-contener .bio-photo{
	border-radius: 50%;
	margin: 0px;
	width: 110px;
	float:left;
}

/*************/

@media only screen and (max-width:680px) {
	#main > #photo-bar{
		width: 100%;
	}
	#main > #photo-bar .widget{
		width: 80px;
		display: inline-block;
	}
	#bio-contener{
		width: 90%;
		margin: 10px;
	}
}